/* CSS RESET by Josh Comeau */

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

* {
  /* outline: 1px dotted red; */
}

/* MAIN STYLING */
body {
  font-family: 'Inter', sans-serif;
}

.blog button {
  margin-top: 1em;
  padding: .5em 1em;
  cursor: pointer;
}

.logo, .blog-container-title, h3 {
  font-weight: 700;
}

.logo {
  font-size: 2em;
}

.title, .distance-info {
  font-weight: 600;
}

p {
  font-weight: 400;
  font-size: 1em;
}

.promotion-container p {
  font-weight: 600;
}

.description {
  color: #6F6F6F;
  line-height: 150%;
}

.promotion-container p {
  color: #1F1F1F;
}

.blogs-container {
  padding: 1em;
}

.fa-star {
  color: #638A5C; 
}

.fa-magnifying-glass {
  color:rgb(0, 0, 0);
  background-color: #FFFFFF;
  padding: 1em;
  border-radius: 5px 0 0 5px;
}

input:focus {
  outline: none;
}

.map {
  display: none;
}

/* NAV SECTION */

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: rgb(255, 255, 255);
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #f2f2f2;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #ffffff;
  font-weight: 700;
}

.topnav div {
  display: flex;
  align-items: center;
}
/* HERO SECTION */

.hero {
  background: url('./images/hero.jpg') no-repeat center;
  color: #FFFFFF;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
  font-size: 1.5em;
}

.hero span {
  display: block;
  color: #ECE480;
}

button {
  background-color:#638A5C;
  color:#FFFFFF;
  border: none;
}

.search-btn {
  border: 5px solid white;
  border-radius: 0 5px 5px 0;
}

.search-btn:hover {
  cursor: pointer;
  background-color: #78a770;
}

.search {
  display: flex;
}

input {
  border: none;
  width: 80%;
}

/* BLOGS SECTION */

.blog-container-title {
  padding: 1em 0 0 .75em;
}
.blogs-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/* PROMOTION SECTION */

.promotion-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  background-color: #FAFAFA;
  padding: 3em 5em;
}

.promotion-item img {
  display: inline;
}

.promotion-item a {
  color: #62895B;
  text-decoration: none;
}

/* FOOTER */

footer {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  padding: 2em 0;
  display: flex;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}

footer nav ul li {
  align-items: center;
}

footer nav ul {
  display: flex;
  list-style-type: none;
}

footer li {
  margin-right: 1em;
}

footer li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 700px) {

/* NAV SECTION */

  nav {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }

  .nav-options {
    display: block;
    padding: 1em 1em;
  }

  .nav-options a {
    display: inline-block;
    font-weight: 600 ;
    margin: 0 .2em;
  }

  .fa-bars {
    background-color: red;
    display: none;
  }

  .topnav #myLinks {
    display: block;
  }

  #hamburgerMenuIcon {
    display: none;
  }

  .signup-btn, .login-btn {
    border-radius: 5px;
  }

  nav .signup-btn {
    background-color:#638a5c;
    outline: 2px solid #638a5c;
    color: rgb(255, 255, 255);
  }

  nav .signup-btn:hover {
    background-color:#79af70;
    outline: 2px solid #79af70;
    color: rgb(255, 255, 255);
  }

  nav .login-btn {
    outline: 2px solid black;
  }

  .hero {
    background: url('./images/hero.jpg') no-repeat center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hero-info {
    width: 50%;
  }

  .search {
    margin-top: auto;
    margin-bottom: 1em ;
  }

  /* PROMOTION SECTIION */

  .promotion-container {
    display: flex;
    flex-direction: row;
    padding: 5em 1em;
  }

  /* BLOGS  */

  .blogs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .blog {
    display: flex;
    justify-content: center;
  }

  .blog img {
    height: 100%;
    object-fit: cover;
  }

  .blog-info {
    width: 40%;
    padding: 5em;
  }

  .left {
    order: -1;
  }

  /* FOOTER */

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3em 5em;
  }

  footer div:nth-of-type(2) {
    order: -1;
  }

  /* EXPLORE SECTION */

  .explore-blogs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .explore-blog {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border-bottom: 1px solid #A8A8A8;
  }

  .left-section {
    width: 100%;
  }

  .explore-blog img {
    width: 30%;
  }

  .map {
    display: block;
    width: 100%;
  }

  .explore-aside-container {
    display: flex;
    flex-direction: row-reverse;
  }

  .explore-aside-container img {
    margin-left: auto;
    width: 50%;
  }

}